@model IEnumerable<ProjetoIndigenas.Models.Pessoa>

@{
    ViewData["Title"] = "Usuários";
}
<div class="titulo">
    <div class="bloco-titulo"></div><h1 class="centraliza-titulo"><strong>Usuários Cadastrados</strong></h1>
</div>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Novo Cadastro</a>
</p>
<table class="table table-hover table-responsive-sm tabelas">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf_Rani)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatNasc)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf_Rani)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tel2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatNasc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PessoaID" class="btn btn-primary btn-sm">Atualizar</a>
                <a asp-action="Details" asp-route-id="@item.PessoaID" class="btn btn-warning btn-sm">Perfil</a>
                <a asp-action="Delete" asp-route-id="@item.PessoaID" class="btn btn-danger btn-sm">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
