@model IEnumerable<ProjetoIndigenas.Models.Denuncia>

@{
    ViewData["Title"] = "Denúncias";
}

<div class="titulo">
    <div class="bloco-titulo"></div><h1 class="centraliza-titulo"><strong>Denúncias Realizadas</strong></h1>
</div>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Nova Denúncia</a>
</p>
<table class="table table-hover table-responsive-sm tabelas">
    <thead class="thead-dark">
        <tr>
            <th>
                                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Localizacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaAtt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pessoa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Localizacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UltimaAtt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pessoa.PessoaID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DenunciaID" class="btn btn-primary btn-sm">Atualizar</a>
                <a asp-action="Details" asp-route-id="@item.DenunciaID" class="btn btn-warning btn-sm">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.DenunciaID" class="btn btn-danger btn-sm">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
